body{
    color: #616161;
    background: #e3e0cf;
    text-align: center;
    margin: 1%;
    line-height:1.15;
    font-family: 'Varela Round', sans-serif;
}
nav{
    background: #c2dde6;
    justify-content: space-around;
    align-content: space-around;
}
main{
    padding: 1%;

}
h1{
    font-size: 45px;
	font-weight: bold;
    text-align: center;
    margin: 20px;

}
h2{
    font-size: 25px;
    margin: 20px;
}

h3{
    font-size: 22px;
}
p{
    text-align: center;
}
img{
    display: center;
    margin: 2px;
    padding: 0px;
    border: 4px solid #d3d5d5;
    border-radius: 2px;
    text-align: center;

  }
img:nth-child(even):hover{
    box-shadow: 10px 10px 5px #d1caa4;
}
.container{
    border: 3px solid #c5d5cb;
    margin-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}
#shoreline{
    background-image: url("images/north_shore.jpeg");
}

.trails_images_container{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr)
}

img:hover{
    opacity: 0.5;
}

.images_container{
    justify-content: center;
      
  }
.images-container img{
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }

li {
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 20px;
    width: 18%;  
  }
  .logo{
      text-align: center;
      justify-content: center;
  }

li:hover {
    color: #6fd5fa;
    background-color: white;
}
    
.active{
    background-color: white;
    border: 2px solid #3cb2da;
    border-radius: 20px;
    
    text-align: center;
 
}
a:visited{
    color: #000;
}
#lous_link{
    display:block;
}
footer {
    color: #404040;
    background-color: #c2dde6;
    text-align: center;
    height: 100px;
    margin: 20px;
  }
  footer p{
      padding: 20px;
  }

 